@import "addons/croco-school-articles";
@import "addons/croco-school-related-articles";
@import "addons/croco-school-course-list";
@import "addons/croco-school-course";
@import "addons/croco-school-course-progress";
@import "addons/croco-school-lesson-list";

.site-content  .croco-school h1 {
	font-weight: 900;
	font-size: 40px;
	line-height: 1.175;
}
@media ( max-width: 768px ) {
	.site-content  .croco-school h1 {
		font-size: 36px;
	}
}@media ( max-width: 425px ) {
	.site-content  .croco-school h1 {
		font-size: 30px;
	}
}
.croco-school__single-article {
	margin-top: 0;
}
.site-content .error-404,
.site-content .not-found {
	margin: 60px auto;
	.search-form {
		label {
			padding: 0;
		}
		.search-form__submit.btn {
			padding: 14px;
		}
	}
}
.croco-school {
	.guide-article {
		a {
			color: #617BE5;
			&:hover {
				text-decoration: underline;
			}
		}

		.cherry-search-wrapper .cherry-search form.cherry-search__form button.cherry-search__submit {
			background-color: #617BE5;
		}
	}

	&-container {
		width: 760px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: .9375rem;
		padding-right: .9375rem;
	}

	&__single-article {

		.breadcrumbs {
			max-width: 800px;
			margin: 28px auto;
			padding-right: 20px;
			padding-left: 20px;
			border-top: none;
			.breadcrumbs_item{
				font-size: 12px;
				line-height: 21px;
				font-weight: 400;
			}
		}
	}

	&__single-article-inner {
		display: flex;
		flex-flow: row wrap;
	}

	@media ( max-width: 425px ) {

		&__single-article-inner {
			flex-flow: column nowrap;
		}
	}

	h1.croco-school__single-article-title {
		margin:0 auto 30px auto ;
	}

	&__single-article-content {
		margin-bottom: 35px;
	}
	.guide-article.has-sidebar .croco-school__single-article-sidebar {
		.croco-school-related-articles__list a:hover{
			text-decoration: none;
		}
	}

	&__single-article-media {
		width: 100%;
		padding-bottom: 60px;
		padding-top: 60px;

		.croco-school__single-article-media-inner {
			position: relative;
		}

		.croco-school-article-image {
			width: 100%;
			line-height: 0;
		}

		.croco-school__single-media-frame {
			position: relative;

			&.aspect-ratio-169 {
				padding-bottom: 56.25%;
			}

			&.aspect-ratio-219 {
				padding-bottom: 42.8571%;
			}

			&.aspect-ratio-43 {
				padding-bottom: 75%;
			}

			&.aspect-ratio-32 {
				padding-bottom: 66.6666%;
			}

		}

		.croco-school-video-iframe {
			max-width: 100%;
			margin: 0;
			line-height: 1;
			border: none;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

		.video-embed-image-overlay {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			background-size: cover;
			background-repeat: no-repeat;

			.video-play-icon {
				width: 130px;
				height: 80px;
				background-color: white;
				border-radius: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 40px;
				color: #162B40;
				transition: all 0.4s ease;
			}

			&:hover {
				.video-play-icon {
					box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
				}
			}
		}
	}

	&__single-article-container {
		width: 75%;
		flex: 1 1 auto;
		.guide-article.has-sidebar & .croco-school__single-article-container-inner {
			padding-left: 0;
			margin-left: 0;
			border-left: none;
			padding-right: 57px;
			margin-right: 30px;
			border-right: 1px solid #E4E7ED;
		}
		@media ( max-width: 768px ) {
			.guide-article.has-sidebar & .croco-school__single-article-container-inner {
				padding-right: 20px;
				margin-right: 10px;
			}
		}
		@media ( max-width: 768px ) {
			.guide-article.has-sidebar & .croco-school__single-article-container-inner {
				padding: 10px;
				margin-right: 0;
				border: none;
			}
		}
		.course-article.has-sidebar & .croco-school__single-article-container-inner {
			margin-right: 40px;
		}
		@media ( max-width: 425px ) {
			.course-article.has-sidebar & .croco-school__single-article-container-inner {
				margin-right: 0;
			}
		}
	}
	@media ( max-width: 425px ) {
		&__single-article-container {
			width: 100%;
		}
	}

	&__single-article-sidebar {
		width: 25%;
		min-width: 200px;
	}
	@media ( max-width: 425px ) {
		&__single-article-sidebar {
			width: 100%;
			min-width: 280px;
		}
	}

	&__single-search {
		padding: 50px 0;
		background-color: #F4F5F7;
		margin-bottom: 0;
	}
	@media ( max-width: 425px ) {
		&__single-search {
			margin-bottom: 10px;
		}
	}

	&__lesson-progress {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		margin: 80px 0 0 0;
		padding: 40px 0 40px 0;
		border-top: 1px solid #E4E7ED;
		border-bottom: 1px solid #E4E7ED;

		&.status-in_progress {

		}

		&.status-done {

		}

		.progress-message {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			color: #162b40;
			font-size: 24px;
			margin: 0 0 30px 0;
			border-radius: 3px;

			i {
				font-size: 30px;
				color: #34D7A1;
				margin-right: 10px;
			}
			a:hover span {
				text-decoration: none;
			}
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 14px 49px 12px 39px;
			background-color: #34D7A1;
			border-radius: 3px;
			text-align: center;
			width: 48%;
			margin: 0 1%;

			i {
				color: white;
				font-size: 20px;
				margin-right: 10px;
			}
			span {
				color: white;
				font-size: 14px;
				font-weight: 600;
				border-radius: 3px;
				letter-spacing: 1.4px;
				text-transform: uppercase;
			}
			@media ( max-width: 425px ) {
				span {
					font-size: 9px;
				}
			}

			&:hover {
				background-color: #2fc594;
			}

			&.back-button {
				background-color: #617BE5;

				&:hover {
					background-color: #576fd0;
				}
			}
		}
		@media ( max-width: 425px ) {
			a {
				padding: 14px 10px 12px 10px;
				margin-top: 20px;
				width: 100%;
			}
		}
	}
	@media ( max-width: 425px ) {
		&__lesson-progress {
			margin: 40px 0 0 0;
			flex-direction: column;
		}
	}
}

.cherry-search-wrapper {
	.cherry-search {
		form.cherry-search__form {

			.cherry-search__label {
				padding: 0;
			}

			button.cherry-search__submit {
				padding: 9px 20px;
				font-size: 13px;
				line-height: 21px;
				font-weight: 600;
				margin-left: 10px;
			}
			button.cherry-search__submit:hover {
				background-color: #617BE5;
			}

			.cherry-search__field {
				padding: 11px 15px;
				color: #5C6B79;
				font-weight: 400;
				font-size: 14px;
				border: 1px solid #E4E8ED;;
			}
			.cherry-search__field:active,
			.cherry-search__field:focus{
				padding: 10px 15px;
				border: 2px solid #E4E8ED;
				box-shadow: none;
			}
		}

		.cherry-search__results-list {
			box-shadow: 0 0 20px rgba( 22, 43, 64, .1 );
			border: none;
			padding: 15px;
			border-radius: 3px;
			margin-top: 10px;

			.cherry-search__results-item {
				border-top-color: #E4E7ED;
				border-radius: 3px;
				padding-top: 10px;
				margin-top: 10px;

				&:hover {
					background-color: transparent;

					a {
						background-color: #f6f6f6;
					}

					.cherry-search__item-title {
						color: #617BE5;
					}
				}

				> a {
					padding: 5px 15px;
					border-radius: 3px;
				}

				.cherry-search__item-attr {

				}

				.cherry-search__item-thumbnail {
					display: none;
				}

				.cherry-search__item-title {
					color: #162B40;
					font-size: 14px;
					font-weight: 600;
				}

				.cherry-search__item-content {
					color: #162B40;
					font-size: 14px;
				}

				.cherry-search__item-author {
					color: #162B40;
					font-size: 11px;
				}
			}

			.cherry-search__more-button {
				border: none;
				margin-top: 20px;
			}
		}

	}
}

.cherry-search-wrapper {
	::-webkit-input-placeholder {
		color:#5C6B79;
		font-weight: 400;
	}
	::-moz-placeholder {
		color:#5C6B79;
		font-weight: 400;
	}
	:-moz-placeholder {
		color:#5C6B79;
		font-weight: 400;
	}
	:-ms-input-placeholder {
		color:#5C6B79;
		font-weight: 400;
	}
}

.croco-school__single-article-content img {
	margin-top: 45px;
	margin-bottom: 45px;
}
.croco-school-related-articles__list{
	ul li {
		line-height: 1.267em;
		margin-bottom: 4px;
	}
	.croco-school-related-articles__item {
		display: block;
		padding: 0;
		.croco-school-related-articles__link {
			display: block;
			padding: 9px 15px;
			font-weight: 500;
			line-height: 1.467em;
		}
		@media ( max-width: 768px ) {
			.croco-school-related-articles__link {
				font-size: 12px;
			}
		}
		.education_hat {
			padding: 0 10px;
		}
		@media ( max-width: 768px ) {
			.education_hat {
				padding: 0 5px 0 5px;
			}
		}
	}
}

.croco-school-related-articles__item.current {
	background-color: #617BE5;
	.croco-school-related-articles__link {
		color: #fff;
	}
}
.croco-school__single-article-content a {
	font-weight: 600;
}
.croco-school__single-article-sidebar.is-affixed .inner-wrapper-sticky {
	margin-top: 40px;
}
@media ( max-width: 425px ) {
	.croco-school__single-article-sidebar.is-affixed .inner-wrapper-sticky {
		margin-top: 0;
	}
}
@media ( max-width: 425px ) {
	.croco-school__single-article-sidebar.is-affixed .inner-wrapper-sticky {
		position: relative!important;
		width: 100% !important;
		padding: 0;
		top: 0!important;
		left: 0!important;
		transform: none!important;
	}
	.croco-school__single-article-sidebar .inner-wrapper-sticky{
	margin-top: 20px;
	margin-bottom: 20px;
	}
}
@media ( max-width: 425px ) {
	#secondary.croco-school__single-article-sidebar.is-affixed {
		height: 100% !important;
	}
}
@media ( max-width: 425px ) {
	#secondary {
		margin-top: 10px;
	}
}

.croco-school__single-article-container-inner {
	h1, h2, h3, h4 {
		margin: 30px 0;
		hyphens: none;
	}
	h5, h6 {
		margin: 30px 0 0;
		hyphens: none;
	}

	ul {
		margin: 1.5em 0 1.5em 3.8em;
		padding-left:0;
		padding-right:0;
	}
	ol {
		margin: 1.5em 0 1.5em 1.1em;
		padding-left:0;
		padding-right:0;
	}
	ul > ul {
		margin: 0 0 0 1.7em;
	}

	li > ul
	{
		margin-bottom: 0;
		margin-left: 1.6em;
		margin-top: 0;
	}
	li > ol {
		margin-left: 0;
	}
	p {
		margin-bottom: 30px;
	}
	b {
		color: #162b40;
	}
	strong {
			color: #5C6B79;
	}
	a {
		color: #617BE5;
	}
}
table {
	margin: 30px 0;
}
table tr td, table tr th,
table td, table th {
	padding: 5px 10px;
	font-size: 16px;
}
@media screen and (max-width: 640px) {
	table {
		display: block;
		overflow-x: auto;
	}
}
@media ( max-width: 425px ) {
	.croco-school__single-article-container-inner {
		h1, h2, h3, h4 {
			margin: 15px 0;
		}
		h3 {
			font-size: 20px;
		}
		h5 {
			font-size: 16px;
		}
		p {
			font-size: 16px;
		}
		li {
			font-size: 16px;
		}
		table td, table th {
			font-size: 14px;
		}
		h5, h6 {
			margin: 15px 0 0;
		}
		ul {
			margin: 1em 0 1em 1.8em;
			padding-left:0;
			padding-right:0;
		}
		p + p {
			margin-top: 15px;
		}
		ol {
			margin: 1em 0 1em 1em;
			padding-left:0;
			padding-right:0;
		}
		ul > ul {
			margin: 0 0 0 0.7em;
		}

		li > ul
		{
			margin-bottom: 0;
			margin-left: 0.6em;
		}
	}
}
.croco-school__single-article-container-inner .croco-school__single-article-content {
	a:hover {
		color:#617BE5;
		text-decoration: underline;
	}
}

.arrows-1_bold-right {
	font-size: 14px;
}
/*
  Tippy theme
 */
$transparentLight: rgba(0, 8, 16, 0.08);
$transparentDark: rgba(0, 8, 16, 0.15);
$transparentDarker: rgba(0, 8, 16, 0.24);

.tippy-tooltip.light-border-theme {
  background-color: white;
  background-clip: padding-box;
  color: #5C6B79;
	box-shadow: 0px 4px 20px rgba(22, 43, 64, 0.15);
	border-radius: 3px;
	padding-top: 8px;
	padding-bottom: 10px;

  .tippy-backdrop {
	background-color: white;
  }

  .tippy-arrow,
  .tippy-roundarrow {
	&::after,
	&::before {
	  content: '';
	  position: absolute;
	  z-index: -1;
	}
  }

  .tippy-roundarrow {
	fill: white;

	&::after {
	  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj48c3ZnIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAyNCA4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zOnNlcmlmPSJodHRwOi8vd3d3LnNlcmlmLmNvbS8iIHN0eWxlPSJmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MS40MTQyMTsiPjxwYXRoIGQ9Ik0zLDhjMCwwIDIuMDIxLC0wLjAxNSA1LjI1MywtNC4yMThjMS4zMzEsLTEuNzMxIDIuNTQ0LC0yLjc3NSAzLjc0NywtMi43ODJjMS4yMDMsLTAuMDA3IDIuNDE2LDEuMDM1IDMuNzYxLDIuNzgyYzMuMjUxLDQuMjIzIDUuMjM5LDQuMjE4IDUuMjM5LDQuMjE4bC0xOCwwWiIgc3R5bGU9ImZpbGw6IzAwMDgxNjtmaWxsLW9wYWNpdHk6MC4yMDM5MjI7ZmlsbC1ydWxlOm5vbnplcm87Ii8+PC9zdmc+);
	  background-size: 24px 20px;
	  width: 24px;
	  height: 20px;
	  left: 0;
	  top: 0;
	  fill: #fff;
	}
  }
}

.tippy-popper[x-placement^='top'] .tippy-tooltip.light-border-theme {
  .tippy-roundarrow::after {
	top: 1px;
	transform: rotate(180deg);
  }

  .tippy-arrow {
	border-top-color: #fff;

	&::after,
	&::before {
	  border-top: 8px solid;
	  top: -7px;
	}

	&::after {
	  border-top-color: #fff;
	}
	&::before {
	  border-top-color: white;
	}
  }
}

.tippy-popper[x-placement^='bottom'] .tippy-tooltip.light-border-theme {
  .tippy-roundarrow::after {
	top: -1px;
  }

  .tippy-arrow {
	border-bottom-color: #fff;

	&::after,
	&::before {
	  border-bottom: 8px solid;
	  bottom: -7px;
	}

	&::after {
	  border-bottom-color: #fff;
	}
	&::before {
	  border-bottom-color: white;
	}
  }
}

.tippy-popper[x-placement^='left'] .tippy-tooltip.light-border-theme {
  .tippy-roundarrow::after {
	left: 1px;
	top: 0;
	transform: rotate(90deg);
  }

  .tippy-arrow {
	border-left-color: #fff;

	&::after,
	&::before {
	  border-left: 8px solid;
	  left: -7px;
	}

	&::after {
	  border-left-color: #fff;
	}
	&::before {
	  border-left-color: white;
	}
  }
}

.tippy-popper[x-placement^='right'] .tippy-tooltip.light-border-theme {
  .tippy-roundarrow::after {
	left: -1px;
	top: 0;
	transform: rotate(-90deg);
  }

  .tippy-arrow {
	border-right-color: #fff;

	&::after,
	&::before {
	  border-right: 8px solid;
	  right: -7px;
	}

	&::after {
	  border-right-color: #fff;
	}
	&::before {
	  border-right-color: white;
	}
  }
}

.tippy-popper[x-placement^='top']
  .tippy-tooltip.light-border-theme
  .tippy-arrow,
.tippy-popper[x-placement^='bottom']
  .tippy-tooltip.light-border-theme
  .tippy-arrow {
  &::before,
  &::after {
	left: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
  }
}

.tippy-popper[x-placement^='left']
  .tippy-tooltip.light-border-theme
  .tippy-arrow,
.tippy-popper[x-placement^='right']
  .tippy-tooltip.light-border-theme
  .tippy-arrow {
  &::before,
  &::after {
	top: -8px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
  }
}
.guide-article .croco-school__single-article-content {
	margin: 0 auto;
}
.guide-article .croco-school__single-article-title,
.guide-article .croco-school__single-article-content {
	max-width: 800px;
	padding-left: 20px;
	padding-right: 20px;
	
	img.aligncenter {
		margin: 0 auto;
		box-shadow: 0 20px 20px rgba(22, 43, 64, 0.12);
	}
}
.guide-article .custom-width,
.custom-width .wp-video  {
	background-color: #F4F5F7;
	width: 100vw;
	padding: 50px 30px;
	max-width: 1160px;
	margin-left: 50%;
	margin-right: auto;
	transform: translateX(-50%);
	margin-bottom: 49px;
	margin-top: 40px;
}
@media ( max-width: 768px ) {
	.guide-article .custom-width,
	.custom-width .wp-video {
		max-width: 680px;
	}
}
//custom banner style
.banner a:hover {
	background-color: #ffffff;
	color: #34D7A1;
}
.croco-school__single-article-content .banner.invert a:hover {
	background-color: #ffffff;
	color: #34D7A1;
}
.croco-school__single-article-content .banner.invert a {
	background-color: #34D7A1;
	color: #fff;
}
.croco-school__single-article-content .banner a:hover {
	background-color: #617BE5;
	color: #ffffff;
}
.croco-school__single-article-content .banner a {
	background-color: #34D7A1;
	color: #fff;
}
.croco-school__single-article-content .banner {
	margin-bottom: 50px;
	margin-top: 50px;
	background-color: #F4F6FD;
	border: 1px solid #DCE1F8;
	padding: 13px 52px 35px 52px;
	border-radius: 3px;
	p {
		line-height: 30px;
		font-size: 18px;
		margin-bottom: 26px;
	}
	h3 {
		color: #617BE5;
		font-weight: bold;
		line-height: 45px;
		font-size: 32px;
		margin-bottom: 0;
	}
	a {
		border-radius: 3px;
		text-decoration: none;
		font-weight: bold;
		line-height: 25px;
		font-size: 14px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		padding: 16px 36px;
	}
	a:hover {
		text-decoration: none;
	}
	&.invert {
		background-color: #617BE5;
		border: none;
		h3 {
			color: #ffffff;
		}
	}
}
.croco-school__single-article-content .info-banner {
	display: flex;
	margin-bottom: 43px;
	margin-top: 39px;
	background-color: #F4F6FD;
	border: 1px solid #DCE1F8;
	padding: 20px 20px 20px 20px;
	border-radius: 3px;
	img {
		align-self: flex-start;
		margin: 5px 16px 0 0;
	}
	p,
	span {
		line-height: 30px;
		font-size: 18px;
		margin-bottom: 0;
		margin-top: 0;
	}
}

@media (max-width: 425px) {
	.croco-school__single-article-content .info-banner {
		p,
		span {
			font-size: 16px;
		}
	}
	.croco-school__single-article-content .banner,
	.croco-school__single-article-content .banner.invert {
		padding: 13px 20px 35px 20px;
		h3 {
			line-height: 38px;
			font-size: 25px;
			margin-bottom: 15px;
		}
		p {
			font-size: 16px;
		}
	}
}
.search-no-results #primary {
	margin: 0 auto;
}
.search.search-results .site-content  {
	margin-top: 60px;
}