.croco-school-related-articles {

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		color: #162B40;
		padding: 10px;
		border-radius: 5px;

		&:hover {
			color: #162B40;
			background-color: #F4F5F7;
		}
	}
}
