.croco-school-articles {

	&__inner {
		display: flex;
		flex-flow: column nowrap;
		align-items: stretch;
	}

	&__thumbnail {
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 18px;

		img {
			width: 500px;
			object-fit: cover;
		}
	}

	&__name-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin-bottom: 30px;
	}
	@media ( max-width: 425px ) {
		&__name-container {
			margin-bottom: 0;
		}
	}
	&__name {
		text-align: center;
		font-size: 40px;
		line-height: 47px;
		font-weight: 900;
		margin: 0;
		letter-spacing: -1px;
	}
	@media ( max-width: 425px ) {
		&__name {
			font-size: 30px;
		}
	}
	&__back {
		display: flex;
		align-items: center;
		position: absolute;
		font-size: 16px;
		font-weight: 400;
		color: #162B40;
		left: 0;

		i {
			margin-right: 10px;
		}
	}

	&__more-articles {

		margin-top: 11px;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		a {
			font-size: 16px;
			color: #162B40;
			font-weight: 400;
		}

		i {
			margin-left: 10px;
		}

		&:hover {
			a {
				color: #34D7A1;
			}
		}
	}

	&__terms-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin-top: 0;
		margin-left: -20px;
		margin-right: -20px;
	}
	@media ( max-width: 425px ) {
		&__terms-list{
		justify-content: center;
	}
	}
	&__terms-item {
		width: 33.3333%;
		padding: 0 20px;
	}
	@media ( max-width: 425px ) {
		&__terms-item {
		width: 100%;
		padding: 10px;
			max-width: 280px;
		}
	}

	&__article-list {

		&-title {
			font-size: 18px;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				line-height: 23px;
				padding: 13px 0;
				border-bottom: 1px solid #E4E7ED;

				&:last-child {
					border-bottom: none;
				}

				a {
					position: relative;
					font-size: 16px;
					color: #617BE5;
					font-weight: 400;
					line-height: 23px;

					&:hover {
						text-decoration: underline;
					}

					i {
						margin-left: 5px;
						font-size: 16px;
						color: #34d7a1;
					}
				}
			}
		}
	}
}
